:root {
    --f7-grid-gap: 16px;
    --f7-grid-row-gap: 16px;
    --f7-theme-color: #c76f22;
    --f7-theme-color-rgb: 199, 111, 34;
    --f7-theme-color-shade: #a45c1c;
    --f7-theme-color-tint: #dd8335;
}

html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--f7-theme-color);
    background-color: #f1f1f1;
}

.home-page {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../img/other/fall_pic2.jpg);
}

.card {
    box-shadow: 5px 4px var(--f7-theme-color);
}

.card-content span {
    display: inline-block;
}

.card-content span :not(img) {
    margin: 5px;
    padding: 5px;
}

.card-content img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
    float: left;
    object-fit: cover;
}

.media-categories-container {
    padding: 20px;
}

.media-category {
    height: 180px;
    color: var(--f7-theme-color);
    text-align: center;
    border-radius: 10px;
    background-image:linear-gradient(to bottom, #333333 0%, #292929 100%);
    box-shadow: 5px 4px;
}

.row {
    height: 30%;
    min-height: 30%;
}

.material-icons.md-64 { font-size: 78px; }

.back-arrow { position: absolute; }

.category-header {
    color: var(--f7-theme-color);
    text-align: center;
    border-radius: 10px;
    background-image:linear-gradient(to bottom, #333333 0%, #292929 100%);
    box-shadow: 5px 4px var(--f7-theme-color);
    width: 90%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 0px;
    padding: 1px;
    font-size: 20px;
}